<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/log-out" method="post"><button>Log out</button></form>
  </body>
</html>
