<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become a member</title>
  </head>
  <body>
    <form action="/member" method="post">
      <label>Enter the secret code to become a member: </label>
      <input type="password" name="code" />
      <button></button>
    </form>
    <p><%=message%></p>
  </body>
</html>
